.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px 10px 35px;
}

.logoMemes {
  background-repeat: no-repeat;
  background-size: 224px 72px;
  height: 72px;
  width: 224px;
}

.profileData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileData_user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(150, 188, 226, 0.5);
  color: #6688cc;
  margin-right: 10px;
}

.profileData_exit {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
}

.profileData_exit:hover {
  cursor: pointer;
}

.userAvatar {
  background-repeat: no-repeat;
  background-size: contain;
  height: 43px;
  width: 43px;
  border-radius: 50%;
}

.userName {
  padding: 0 15px 0 10px;
}