.meme {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  width: 17.2vw;
  height: 17.2vw;
  border-radius: 10px;
  margin: 2.4vw;
  box-shadow: 0 4px 4px rgba(133, 110, 110, 0.25);
}

.share {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.5vw;
  width: 2.5vw;
  margin: 10px;
}

.share:hover {
  transform: scale(1.2);
}

.meme:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.meme:hover .share {
  display: block;
}