.mainPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  height: calc(100vh - 100px);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  box-sizing: border-box;
}

.filterPeople {
  margin-left: 2.4vw;
}

.buttonsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 45px; 
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}