.page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-block {
  text-align: center;
  padding-bottom: 100px; 
}

.memesLogo {
  position: absolute;
  top: 4%;
  left: 4%;
  background-repeat: no-repeat;
  background-size: 224px 72px;
  height: 72px;
  width: 224px;
}

.topText {
  font-size: 24px;
  color: #777799;
  padding: 40px 0;
}

.link {
  text-decoration: none;
}